$mainFontFamily:'Poppins',
sans-serif;
$headerBgColor: rgba(86, 184, 135, .06);
$headerPhotoBorderColor: #ffffff;
$defaultHeaderTextColor:#ffffff;
$headerIconsBgColor: rgb(255, 255, 255, .1);
$defaultSectionBgColor:#ffffff;
$personInfoAboutMe: #9baab3;
$primaryColor:#000000;
$secondaryColor: #555;
$statsNumberColor: #9baab3;
$progressBarBgColor:#ebeef2;
$progressBarColor:#56b887;
$timelineDotBgColor: rgba(86, 184, 135, 0.25);