.aboutMe {
    .person {
        display: flex;
        align-items: center;

        .personInfo {
            width: 50%;
            padding: 0 50px;

            h4 {
                margin: 0 0 15px;
                color: $personInfoAboutMe;
                font-weight: 300;
            }

            h2 {
                margin: 0 0 30px;
                @include fluid-type(320px, 1290px, 30px, 46px);
                color: $primaryColor;
            }

            p {
                color: $secondaryColor;
                line-height: 1.5;
            }
        }

        .personPhoto {
            width: 50%;
            align-self: flex-start;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
                translate: 65px -10px;
                border-radius: 50% 0 50% 50%;
            }
        }
    }

    .stats {
        display: flex;
        margin: 0 -15px 40px -15px;

        .stat-item {
            width: calc(100%/3);
            padding: 0 15px;

            .outline {
                padding: 20px;
                box-shadow: 0 1px 5px rgb(0 0 0/15%);
                border-radius: 10px;
                position: relative;
                overflow: hidden;

                i {
                    position: absolute;
                    font-size: 78px;
                    inset: 50% auto auto 0;
                    translate: -35% -50%;
                    z-index: 1;
                    color: $secondaryColor;
                    opacity: 0.3;
                }

                .tittle {
                    text-align: right;
                    font-weight: 600;
                    color: $primaryColor;
                    margin: 0 0 15px 0;
                }

                .number {
                    text-align: right;
                    color: $statsNumberColor;
                    font-size: 36px;
                    margin: 0;
                }
            }
        }
    }
}

.design-skills {
    .skill {
        margin: 0 0 15px 0;

        .skill-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 15px 0;

            .name {
                color: $primaryColor;
                font-size: 14px;
            }

            .percent {
                color: $statsNumberColor;
                font-size: 14px;
            }
        }

        .skill-bottom {
            .progress {
                height: 6px;
                border-radius: 4px;
                background-color: $progressBarBgColor;

                .bar {
                    display: block;
                    height: 100%;
                    background-color: $progressBarColor;
                    border-radius: 4px;
                }
            }
        }
    }
}