h2 {
    font-size: 36px;
    margin: 0;
    font-weight: 600;
}

h4 {
    margin: 15px 0 30px 0;
    font-size: 16px;
    color: $personInfoAboutMe;
    font-weight: 300;
}

.contact {
    .contacts {
        display: flex;
        margin: 50px -15px;

        .contact-item {
            width: calc(100%/3);
            padding: 0 15px;

            .outline {
                padding: 20px;
                box-shadow: 0 1px 5px rgb(0 0 0/15%);
                border-radius: 10px;
                transition: 500ms;
                display: flex;
                flex-direction: column;

                &:hover {
                    transform: translateY(-4px);
                    transition: 300ms;
                    box-shadow: 0 5px 16px #0000003d;
                }

                i {
                    text-align: center;
                    font-size: 33px;
                    color: $btnSecondaryBgColor;
                }

                .tittle {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    color: $primaryColor;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block-title {
            font-size: 21px;
            font-weight: 600;
            text-align: start;

            p {
                margin: 40px 0 10px 0;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .columns {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .left-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                }

                .row {
                    padding: 10px;
                    border: 2px solid $formBorderColor;
                    border-radius: 5px;
                }
            }
        }
    }
}